# ---- File Listing ----
alias ll='eza --color=always --long --git --icons=always'
alias la='eza -la --color=always --long --git --icons=always'
alias ls='eza --color=always --long --git --no-filesize --icons=always --no-time --no-user --no-permissions --tree --level=2'

# ---- Tools ----
alias lg='lazygit --use-config-file="$HOME/.config/lazygit/config.yml,$HOME/.config/lazygit/catppuccin-{{ .catppuccin_flavor }}.yml"'
alias cat='bat --style=plain --paging=never'
alias o='open'
# ---- Navigation ----
abbr -a .. 'cd ..'
abbr -a ... 'cd ../..'
abbr -a reload 'source ~/.config/fish/config.fish'
